@{
    ViewData["Title"] = "GYMSPOT";
}
<h1>Login Page</h1>

<form action="~/submit-login">
    <select name="loginCredentials">
        <option value="PT">Personal Trainer</option>
        <option value="Client">Client</option>
    </select>
        <button class="button button-blue-back">Submit</button>
</form>