<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" 
        integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">@ViewData["Title"]</div>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index" asp-area="Client">Home page</a>
                </li>
                <li>
                    <a asp-controller="AccountDetails" asp-action="Index" asp-area="Client">Personal Details</a>
                </li>
                <li>
                    <a asp-controller="ExerciseItem" asp-action="Index" asp-area="Client">Exercises</a>
                </li>
                <li>
                    <a asp-controller="ExerciseList" asp-action="Index" asp-area="Client">Exercise List</a>
                </li>
                <li>
                    <a asp-controller="ExerciseSession" asp-action="Index" asp-area="Client">Exercise Session</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
    <div class="footer-content">
        FOOTER HERE
    </div>
</body>
</html>
