@{
    ViewData["Title"] = "GYMSPOT CLIENT";
}

<h1>Home</h1>
<p>Welcome to the home page</p>
<div>
    <a href="/Client/AccountDetails" style="text-decoration: none; color: inherit" >
        <div class="box flex div-hover">
            <div class="flex-1" >Start training!</div>
        </div>
    </a>
    <a href="/Client/AccountDetails" style="text-decoration: none; color: inherit">
        <div class="box flex div-hover">
            <div class="flex-1">Training history</div>
        </div>
    </a>
    <a href="/Client/AccountDetails" style="text-decoration: none; color: inherit">
        <div class="box flex div-hover">
            <div class="flex-1">Find a personal trainer</div>
        </div>
    </a>
    <a href="/Client/AccountDetails" style="text-decoration: none; color: inherit">
        <div class="box flex div-hover">
            <div class="flex-1">Add a new routine</div>
        </div>
    </a>
</div>