@{
    ViewData["Title"] = "GYMSPOT CLIENT";
}

<h1>Home</h1>
<p>Welcome to the home page</p>

<div class="box flex">
    <div class="flex-1">Start training!</div>
</div>
<div class="box flex">
    <div class="flex-1">Training history</div>
</div>
<div class="box flex">
    <div class="flex-1">Find a personal trainer</div>
</div>
<div class="box flex">
    <div class="flex-1">Add a new routine</div>
</div>